<!DOCTYPEhtml>

<html>
  <head>
    <title>Deciduous Forest</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
    <body>
      Sedge (Carex bromoides)-Perennial
      <br>
      Bluebells (Hyacinthoides non-scripta)-Perennial
      <br>
      Northern Red Oak (quercus rubra)-Perennial
      <br>
      Cornflower (centaurea cyanus)-Perennial
      <br>
      Tomato (Solanum lycopersium)-Annual
      <br>
      Maize (Zea mays)-Annual
      <br>
      Bearded Wheatgrass (Elymus trachycaulus)-Grasses, Rushes, Sedges
    </body>
</html>
