<!DOCTYPEhtml>
<html>
  <head>
    <title>Desert</title>
  </head>
  <body>
      Desert Grass (Stipagrostis Plumosa)-Grasses, Rushes, Sedges
      <br>
      Artichoke Cactus (Obregonia denegrii)-Cacti and Succulents
      <br>
      Hawaiian Silverwood (Argyroxiphium sandwicense)-Cacti and Succulents
      <br>
      Turbinicarpus (Turbinicarpus subterraneus ssp. booleanus)-Cacti and Succulents
      <br>
      Mammillaria (Mammillaria berkiana)-Cacti and Succulents
      <br>
      Bat’s Wing Coral Tree (Erythrina vespertilio)-Perennial
      <br>
      Date Palm (Phoenix dactylifera)-Evergreen
    </body>
</html>
