<!DOCTYPE html>
<html>
  </head>
  <h1>The Enviornmentalists</h1>
  <br>
  <head>
    <title>The Enviornmentalists</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/styles.css"> -->
  <body>
    <div>
      <h2>What Ecosystem Do You Live In?</h2>
      <a href='/views/tundra'><button>Tundra</button></a>

      <br>
       <a href='/views/rainforest'><button>Rain Forest</button></a>

      <br>
      <a href='/views/deciduousforest'><button>Deciduous Forest</button></a>

      <br>
      <a href='/views/desert'><button>Desert</button></a>

      <br>
      <a href='/views/grasslands'><button>Grasslands</button></a>

      <br>
      <a href='/views/taiga'><button>Taiga</button></a>

    </div>
  </body>
