<!DOCTYPEhtml>
<html>
  <head>
    <title>Rainforest</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
    <body>
      Titan Arum (Amorphophallus titanum)-Tropical
      <br>
      Black ebony (Diospyros tessellaria)-Tropical
      <br>
      Bromeliad (Guzmania hollinensis)-Tropical
      <br>
      Witch Hazel (Maingaya malayana)-Evergreen
      <br>
      Orchid (Phalaenopsis gigantea)-Bulb
      <br>
      Night-Flowering Orchid (Bulbophyllum nocturnum)-Bulb
      <br>
      Bat’s Wing Coral Tree (Erythrina vespertilio)-Perennial
    </body>
</html>
