<!DOCTYPEhtml>

<html>
  <head>
    <title>Taiga</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  <head>
    <body>
          Sphagnum Moss (Sphagnum andersonianum)-Evergreen
          <br>
          Jack Pine (Pinus banksiana)-Evergreen
          <br>
          Crowberry (Empetrum nigrum)-Shrub
          <br>
          Wild Cotoneaster (Cotoneaster cambricus)-Shrub
          <br>
          Sanguisorba (Sanguisorba dodecandra)-Shrub
          <br>
          Fireweed (Chamerion angustifolium)-Perennial
          <br>
          Cotton Weed (Eriophorum vaginatum)-Perennial
    </body>
</html>
