<!DOCTYPEhtml>

<!-- <a href=/tundra.<button>Tundra</button></a> -->

<html>
  <head>
    <title>Tundra</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>

    <body>
           Arctic Poppy (Papaver lastadianum)-Perennial
           <br>
           Moss Campion (Silene acaulis)-Perennial
           <br>
           Tussock Bulrush (Scirpus cespitosus)-Perennial
           <br>
           Arctic Avens (Dryas integrifolia)-Evergreen
           <br>
           Lingonberry (Vaccinium vitis-idaea)-Evergreen
           <br>
           Scots Pine (Pinus sylvestris)-Evergreen
           <br>
           Arctic Willow (Salix arctica)-Shrub
    </body>
</html>

<!-- get '/tundra'<!DOCTYPE html>
    erb:tundra
end -->
